@import "./base.css";

#app {
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: rgb(0, 0, 0);
  transition: 0.4s;
  padding: 3px;
}

p {
  margin: 0px;
}

.custom-tiered-menu {
  background-color: rgb(7, 27, 46) !important;
  border: 1px solid #DDD;
  border-radius: 0.25rem;
}

a:hover {
  background-color: hsla(209, 78%, 49%, 0.2);
}
